<h1>Member List</h1>

<% if any_new_members %>
	<h2>New Members</h2>
	<ul>
		<% new_members.each do |user| %>
			<li><%= user_link user %></li>
		<% end %>
	</ul>
<% end %>

<hr>
<p class="lnkGrp">
<% if !session[:user_id].nil? %>
	<%= link_to "Logout ", logout_path, method: :delete %>| Not A Member?
	<%= link_to " Sign up!", new_user_path %>
<% else %>
	<%= link_to "Login", login_path %> | Not A Member?
	<%= link_to " Sign up!", new_user_path %>
<% end %>
</p>
<hr>

	<% @users.each do |user| %>   
		<div class="profile">
			<p>
				<%= link_to "#{user.fname} #{user.lname}", user, 
				{ :class=>"profileLink" }  %>
			</p>
			<% if !session[:user_id].nil? %>
				<p class="profileMod">
					<%= link_to("Delete", user, method: :delete) %>
					<%= link_to "Edit", edit_user_path(user.id) %>
				</p>
			<% end %>
		</div>
	<% end %>

<hr>
<p>
	
</p>