<h1> <%= "#{@post.title}" %> </h1>
<hn>
<div class="post">
	<%= "#{@post.body}" %>
</div>
<p class="lnkGrp">
	<% if current_user %>
	<%= link_to "Got Something to Say? Click to Comment!", new_post_comment_path(@post.id) , { class: "lnkGrp" } %>
	<% else %>
	<%= "Log in to comment" %>
	<% end %>
</p>
<hr>
<% @comments.each do |comment| %>   
	<p class="comment">
		<%= "#{comment.body}"%>
	</p>
	<p class="posTitle">
		<%= comment_author_fullname_link comment.id %>
	</p>
	<% if can_comment comment.id %>
		<p class="lnkGrp">
			<%= link_to "Edit", edit_post_comment_path(@post.id,comment.id) %> 
			<%= link_to "Delete", comment_path(comment.id), method: :delete %>
		</p>
	<% end %>
	<hr>
<% end %>
