<!DOCTYPE html>
<html>
	<head>
	  <title>Miniblog</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<%= flash[:notice] if flash[:notice] %> 
		<%= flash[:alert] if flash[:alert] %>
		<div id="header">
			<%= link_to "Blog!Tastic", users_path %>
		</div>

		<div id="content">
			<%= yield %>
		</div>

	</body>
</html>
